<footer class="footer mt-auto footer-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 small">Copyright &copy; HinataBot 2020</div>
        </div>
    </div>
</footer>