<nav class="main-header navbar navbar-expand navbar-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link">Home</a>
        </li>
        <% if(user) { %>
        <% if(user.id === process.env.OWNER_ID) { %>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/owner" class="nav-link">Owner Panel</a>
        </li>
        <% } %>
        <% } %>
    </ul>

    <ul class="navbar-nav ml-auto">
        <% if(user) { %>
        <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-th-large"></i> Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-th-large"></i> Login</a>
        </li>
        <% } %>
    </ul>
</nav>